<h1 class="page-header">
  待审核学生
</h1>
<% if @students.present? %>
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>所属班级</th>
        <th>姓名</th>
        <th>学籍号</th>
        <th>手机</th>
        <th>邮箱</th>
        <th>操作</th>
      </tr>
      </thead>

      <tbody>
      <% @students.each do |s| %>
          <tr>
            <td><%= s.name %></td>
            <td><%= s.fullname %></td>
            <td><%= s.student_code %></td>
            <td><%= s.mobile %></td>
            <td><%= s.email %></td>
            <td>
              <a href="#review-student-modal" role="button" data-toggle="modal" data-id="<%= s.id %>" class="btn btn-xs btn-warning open-review-student">
                审核
              </a>
            </td>

          </tr>
      <% end %>
      </tbody>
    </table>
    <div id="review-student-modal" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="widget-header model-header">
            <button type="button" title="关闭" class="close" data-dismiss="modal" style="margin-right: 10px">&times;</button>
            <h4 class="blue smaller text-center">审核结果</h4>
          </div>

          <div class="modal-body overflow-visible">
            <div class="row text-center select-review-status">
              <label class=""><input name="review-status" value="1" type="radio"/> 通过</label>&nbsp;&nbsp;
              <label class=""><input name="review-status" value="0" type="radio"/> 未通过</label>
            </div>
          </div>
          <div class="modal-footer">
            <button class="btn btn-sm" data-dismiss="modal">
              <i class="icon-remove"></i>
              取消
            </button>

            <button class="btn btn-sm btn-primary review-student-submit">
              <i class="icon-ok"></i>
              提交
            </button>
          </div>
        </div>
      </div>
    </div>
    <nav>
      <%= paginate @students %>
    </nav>
<% else %>
    <div class="alert alert-success">
      暂无未审核学生
    </div>
<% end %>
