<h1 class="page-header">
  <%= "#{@model_type.course_name}--#{@model_type.name}" %> 课件图片
  <!--<small class="pull-right">-->

  <!--<a href="#" class="btn btn-default btn-search-toggle" title="搜索">-->
  <!--<i class="icon-search icon-only"></i>-->
  <!--</a>-->
  <!--</small>-->

</h1>
<div class="widget-box form-search-toggle <%= params[:field].present? && params[:keyword].present? ? 'show' : 'hide' %>">
  <div class="widget-header widget-header-small">
    <h5 class="lighter">搜索</h5>
  </div>
  <div class="widget-body">
    <div class="widget-main">
      <form class="form" role="form" method="get">
        <div class="input-group" data-search="field">
          <div class="input-group-btn">
            <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
              <span data-search-text class="admin-search-field"><%= 'ID' %></span>
              <span class="caret"></span></button>
            <ul class="dropdown-width dropdown-menu">
              <li data-search-option="id"><a>ID</a></li>
            </ul>
          </div>
          <input type="hidden" name="field" value="<%= params[:field].present? ? params[:field] : 'id' %>"/>
          <input placeholder="输入关键字，按回车键提交" value="<%= params[:keyword] %>" name="keyword" type="text" class="form-control" aria-label="...">
          <input type="hidden" name="cod" value="<%= params[:cod] %>"/>
        </div>
      </form>
    </div>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <!-- PAGE CONTENT BEGINS -->
    <div class="row-fluid">
      <ul class="ace-thumbnails">
        <% @photos.each do |p| %>

            <li id="photo-identifier-<%= p.id %>">
              <a href="<%= p.image_url %>" title="" data-rel="colorbox">
                <%= image_tag(p.image_url(:middle), size: '200x200') %>
                <div class="tags" style="top:-2px">
                      <span class="label-holder">
                          <span class="label label-warning arrowed-out"><%= p.sort %></span>
                        <% unless p.status %>
                              <span class="label label-info arrowed-in">不显示</span>
                          <% end %>
                      </span>
                </div>
              </a>

              <div class="tools tools-bottom">

                <%= link_to "/admin/photos/#{p.id}/edit", remote: true, title: '编辑' do %>
                    <i class="icon-pencil"></i>
                <% end %>
                <%= link_to "/admin/photos/#{p.id}", method: :delete, data: {confirm: '确认删除吗?', remote: true}, title: '删除' do %>
                    <i class="icon-remove red"></i>
                <% end %>
              </div>
            </li>
        <% end %>
      </ul>
    </div>
    <!-- PAGE CONTENT ENDS -->
  </div>
  <!-- /.col -->
</div><!-- /.row -->

<br>
<%= simple_form_for([:admin, Photo.new]) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :status, label: '是否显示' %>
      <%= f.hidden_field :photo_type, value: params[:type].present? ? params[:type] : @photo.photo_type %>
      <%= f.hidden_field :type_id, value: params[:td].present? ? params[:td] : @photo.type_id %>

      <%= f.file_field :image, multiple: true, name: "photo[image]", id: 'check-lesson-ware' %>
      <p class="help-block">格式: jpg jpeg gif png, 大小不超过1M</p>
      <%= f.hidden_field :image_cache %>
    </div>
<% end %>
<script id="template-upload" type="text/x-tmpl">
<div class="upload">
  {%=o.name%}
  <div class="progress"><div class="bar" style="width: 0%"></div></div>
</div>





</script>

<nav>
  <%= paginate @photos %>
</nav>
