<h1 class="page-header">
  显示课件
  <small class="pull-right">
    <a href="<%= edit_admin_photo_path(@photo) %>" title="编辑" class="btn btn-default">
      <i class="icon-edit icon-only"></i></a>
    <a href="<%= "#{admin_photos_path}?td=#{@photo.type_id}&type=#{@photo.photo_type}" %>" title="列表" class="btn btn-default">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>

<% if notice %>
    <div class="alert alert-success"><%= notice %>
      <button class="close" data-dismiss="alert">
        <i class="icon-remove"></i>
      </button>
    </div>
<% end %>

<div class="profile-user-info profile-user-info-striped">

  <div class="profile-info-row">
    <div class="profile-info-name"> 显示 </div>

    <div class="profile-info-value">
      <span><%= @photo.status ? '是' : '否' %></span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"> 排序 </div>

    <div class="profile-info-value">
      <span><%= @photo.sort %></span>
    </div>
  </div>

  <% if @photo.image.present? %>
      <div class="profile-info-row">
        <div class="profile-info-name">图片</div>
        <div class="show-row-margin">
          <span><%= image_tag(@photo.image_url(:large)) %></span>
        </div>
      </div>
  <% end %>

</div>