<div id="homepage" class="main">
  <div id="banner" class="banner">
    <div class="swiper-container">
      <!-- Additional required wrapper -->
      <div class="swiper-wrapper">
        <!-- Slides -->
        <div class="swiper-slide">
          <img src="<%= image_path('home/banner-01.png') %>" alt=""/>
        </div>
        <div class="swiper-slide">
          <img src="<%= image_path('home/banner-01.png') %>" alt=""/>
        </div>
        <div class="swiper-slide">
          <img src="<%= image_path('home/banner-01.png') %>" alt=""/>
        </div>
      </div>
      <!-- If we need pagination -->
      <div class="swiper-pagination"></div>
    </div>
  </div>
  <div id="column">
    <div class="container">
      <div class="col-item blue">
        <div class="item-t">
          科普知识
        </div>
        <div class="item-c">
          <ul>
            <!-- <li>
              <div class="col-sec">
                <div class="sec-img">
                  <a href="">
                    <img src="<%= image_path('thumb001.png') %>" alt=""/>
                  </a>
                </div>
                <div class="sec-text">
                  <div class="sec-t">
                    小标题
                  </div>
                  <a href="">
                    <div class="sec-c">
                      描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描述描
                    </div>
                  </a>
                </div>
              </div>
            </li> -->
          </ul>
        </div>
        <div class="item-b">
          <!-- <button class="btn-col">查看更多</button> -->
          <h4>暂无内容</h4>
        </div>
      </div>
      <div class="col-item orange">
        <div class="item-t">
          豆姆课例
        </div>
        <div class="item-c">
          <ul>
            <% @dome_courses.each do |course| %>
            <li>
              <div class="col-sec">
                <div class="sec-img">
                  <a href="/courses/<%= course.id %>">
                    <%= image_tag(course.cover_url(:middle)) %>
                  </a>
                </div>
                <div class="sec-text">
                  <div class="sec-t">
                    <%= course.name %>
                  </div>
                  <a href="/courses/<%= course.id %>">
                    <div class="sec-c">
                      <%= raw(course.course_info) %>
                    </div>
                  </a>
                </div>
              </div>
            </li>
            <% end %>

          </ul>
        </div>
        <div class="item-b">
          <a href="/courses/dome">
            <button class="btn-col">查看更多</button>
          </a>
        </div>
      </div>
      <div class="col-item green last">
        <div class="item-t">
          名师课例
        </div>
        <div class="item-c">
          <ul>
            <% @expert_courses.each do |course| %>
            <li>
              <div class="col-sec">
                <div class="sec-img">
                  <a href="/courses/<%= course.id %>">
                    <%= image_tag(course.cover_url(:middle)) %>
                  </a>
                </div>
                <div class="sec-text">
                  <div class="sec-t">
                  <%= course.name %>
                  </div>
                  <a href="/courses/<%= course.id %>">
                    <div class="sec-c">
                      <%= raw(course.course_info) %>
                    </div>
                  </a>
                </div>
              </div>
            </li>
            <% end %>
          </ul>
        </div>
        <div class="item-b">
          <a href="/courses">
          <button class="btn-col">查看更多</button>
          </a>
        </div>
      </div>
    </div>
  </div>
  <!-- <div id="news">
    <div class="container">
      <div class="left">
        <div class="sec-t">
          比赛分享 • • • • • • • • • • • <a href="">（更多）</a>
        </div>
        <div class="sec-c">
          <ol>
            <li>
              <a href="">1、赣导演的《路边野餐》？这是个很严重的问题。在这套路化的电影市场里，《路边野餐》的出</a>
            </li>
            <li>
              <a href="">2、赣导演的《路边野餐》？这是个很严重的问题。在这套路化的电影市场里，《路边野餐》的出</a>
            </li>
            <li>
              <a href="">3、赣导演的《路边野餐》？这是个很严重的问题。在这套路化的电影市场里，《路边野餐》的出</a>
            </li>
            <li>
              <a href="">4、赣导演的《路边野餐》？这是个很严重的问题。在这套路化的电影市场里，《路边野餐》的出</a>
            </li>
            <li>
              <a href="">5、赣导演的《路边野餐》？这是个很严重的问题。在这套路化的电影市场里，《路边野餐》的出</a>
            </li>
          </ol>
        </div>
      </div>
      <div class="right">
        <div class="sec-t">
          比赛分享 • • • • • • • • • • • <a href="">（更多）</a>
        </div>
        <div class="sec-c">
          <ol>
            <li>
              <a href="">1、赣导演的《路边野餐》？这是个很严重的问题。在这套路化的电影市场里，《路边野餐》的出</a>
            </li>
            <li>
              <a href="">2、赣导演的《路边野餐》？这是个很严重的问题。在这套路化的电影市场里，《路边野餐》的出</a>
            </li>
            <li>
              <a href="">3、赣导演的《路边野餐》？这是个很严重的问题。在这套路化的电影市场里，《路边野餐》的出</a>
            </li>
            <li>
              <a href="">4、赣导演的《路边野餐》？这是个很严重的问题。在这套路化的电影市场里，《路边野餐》的出</a>
            </li>
            <li>
              <a href="">5、赣导演的《路边野餐》？这是个很严重的问题。在这套路化的电影市场里，《路边野餐》的出</a>
            </li>
          </ol>
        </div>
      </div>
    </div>
  </div> -->
</div>
