<div class="container">
  <div class="row center-block" style="width:60%">
    <div class="news-gallery">
      <div class="row">
        <% if @news.present? %>
            <% @news[0..8].each do |news| %>
                <div class="col-sm-4 text-center gallery-item">
                  <a href="/news/<%= news.id %>">
                    <div class="img-wrapper">
                      <%= image_tag(news.cover_url(:middle)) %>
                    </div>
                    <p class="title"><%= news.name %></p>
                  </a>
                </div>
            <% end %>
        <% end %>
      </div>
      <div class="text-center" style="margin-top:50px;">
        <button class="btn" onclick="$('.news-gallery').hide();$('.news-list-wrapper').removeClass('hidden');">查看全部</button>
      </div>
    </div>

    <div class="news-list-wrapper hidden">
      <div class="head">全部新闻</div>
      <% if @news.present? %>
        <ol class="news-list">
          <% @news.each do |news| %>
          <li><a href="/news/<%= news.id %>"><%= news.name %></a></li>
          <% end %>
        </ul>
      <% end %>
    </div>
  </div>
</div>
