<div class="container">
  <div id="commonweal" class="">
    <div class="title">
      <div class="text">
        <img src="<%= image_path('cw-title.jpg') %>" alt=""/>
      </div>
      <div class="img">
        <img src="<%= image_path('cw-img-01.jpg') %>" alt=""/>
      </div>
    </div>
    <div class="content">
      <div class="part first">
        <div class="part-sub sub-t">
          <div class="sub-t-t">
            <p>远程</p>

            <p class="ident">教育</p>
          </div>
          <div class="sub-t-m">
            <img src="<%= image_path('cw-icon-01.png') %>" alt=""/>
          </div>
          <div class="sub-t-b">
            <div class="stb-box">
              <p>通过远程教育，直播的形式；</p>

              <p>实现老师和学生异地授课学习，</p>

              <p>也可实现课堂互动。</p>
            </div>
          </div>
        </div>
        <div class="part-sub sub-i">
          <img src="<%= image_path('cw-img-02.jpg') %>" alt=""/>
        </div>
      </div>
      <div class="part second">
        <div class="part-sub sub-i">
          <img src="<%= image_path('cw-img-03.jpg') %>" alt=""/>
        </div>
        <div class="part-sub sub-t">
          <div class="sub-t-t">
            <p>合力</p>

            <p class="ident">协作</p>
          </div>
          <div class="sub-t-m">
            <img src="<%= image_path('cw-icon-02.png') %>" alt=""/>
          </div>
          <div class="sub-t-b">
            <div class="stb-box">
              <p>孩子们在老师远程的指导下，</p>

              <p>和伙伴们的合力协作下，完成了一个课时的学习，</p>

              <p>体验到了机器人教育的乐趣，</p>

              <p>纷纷表示兴趣盎然，想继续学习下去。</p>
            </div>
          </div>
        </div>

      </div>
      <div class="part third">
        <div class="part-sub sub-t">
          <div class="sub-t-t">
            <p>丰富</p>

            <p class="ident">课程</p>
          </div>
          <div class="sub-t-m">
            <img src="<%= image_path('cw-icon-03.png') %>" alt=""/>
          </div>
          <div class="sub-t-b">
            <div class="stb-box">
              <p>开学后，</p>

              <p>机器人课程将正式进入亚东中学学生的课程表中，</p>

              <p>豆姆也将一如既往为他们提供专业的机器人课程，</p>

              <p>为那里的孩子带去STEAM教育，</p>

              <p>丰富他们的课程体系，更早与国际接轨。</p>
            </div>
          </div>
        </div>
        <div class="part-sub sub-i">
          <img src="<%= image_path('cw-img-04.jpg') %>" alt=""/>
        </div>
      </div>
      <div class="part fourth">
        <div class="part-sub sub-i">
          <img src="<%= image_path('cw-img-05.jpg') %>" alt=""/>
        </div>
        <div class="part-sub sub-t">
          <div class="sub-t-t">
            <p>使用</p>

            <p class="ident">操作</p>
          </div>
          <div class="sub-t-m">
            <img src="<%= image_path('cw-icon-04.png') %>" alt=""/>
          </div>
          <div class="sub-t-b">
            <div class="stb-box">
              <p>豆姆的老师正在教授亚东县的老师</p>

              <p>如何使用和操作3D打印机。</p>
            </div>
          </div>
        </div>

      </div>
      <div class="part fifth">
        <div class="part-sub sub-t">
          <div class="sub-t-t">
            <p>课程</p>

            <p class="ident">成果</p>
          </div>
          <div class="sub-t-m">
            <img src="<%= image_path('cw-icon-05.png') %>" alt=""/>
          </div>
          <div class="sub-t-b">
            <div class="stb-box">
              <p>用3D打印机打印的悉尼歌剧院。</p>
            </div>
          </div>
        </div>
        <div class="part-sub sub-i">
          <img src="<%= image_path('cw-img-06.jpg') %>" alt=""/>
        </div>
      </div>
    </div>
    <div class="bottom">
      这次援建，<br/>
      豆姆为亚东中学提供器材、师资、课程和赛事服务，<br/>
      后续也将邀请部分师生到上海和清华大学参加机器人比赛活动。<br/>
    </div>
  </div>
</div>