<h1 class="page-header">
  显示<%= t('activerecord.models.school') %>
  <small class="pull-right">
    <a href="<%= new_admin_school_path %>" title="新建<%= t('activerecord.models.school') %>" class="btn btn-default">
      <i class="icon-plus icon-only"></i></a>
    <a href="<%= edit_admin_school_path(@school) %>" title="编辑" class="btn btn-default">
      <i class="icon-edit icon-only"></i></a>
    <a href="<%= admin_schools_path %>" title="列表" class="btn btn-default">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>

<% if notice %>
    <div class="alert alert-success"><%= notice %>
      <button class="close" data-dismiss="alert">
        <i class="icon-remove"></i>
      </button>
    </div>
<% end %>


<div class="profile-user-info profile-user-info-striped">

  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.name') %> </div>

    <div class="profile-info-value">
      <span><%= @school.name %></span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.district_id') %> </div>

    <div class="profile-info-value">
      <span><%= @school.district_name %></span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"> 是否显示 </div>

    <div class="profile-info-value">
      <span><%= show_status(@school.status) %></span>
    </div>
  </div>
</div>