<h1 class="page-header">
  显示 <%= t('activerecord.models.admin') %>
  <small class="pull-right">
    <a href="<%= edit_admin_admin_path(@admin) %>" title="编辑" class="btn btn-default">
      <i class="icon-edit icon-only"></i></a>
    <a href="<%= admin_admins_path %>" title="列表" class="btn btn-default">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>

<% if notice %>
    <div class="alert alert-success"><%= notice %>
      <button class="close" data-dismiss="alert">
        <i class="icon-remove"></i>
      </button>
    </div>
<% end %>



<div class="profile-user-info profile-user-info-striped">
  <% if @admin.avatar.present? %>
      <div class="profile-info-row">
        <div class="profile-info-name">头像</div>
        <div class="show-row-margin">
          <span><%= image_tag(@admin.avatar_url(:middle)) %></span>
        </div>
      </div>
  <% end %>
  <% if @admin.permissions.in?(%w(teacher)) %>
      <div class="profile-info-row">
        <div class="profile-info-name">老师形象</div>
        <div class="profile-info-value">
          <div class="row">
            <% if @admin.teacher_avatar.present? %>
                <% @admin.teacher_avatar.each do |t| %>
                    <%= image_tag(t.url(:middle)) %>
                <% end %>
            <% else %>
                暂无
            <% end %>
          </div>
        </div>
      </div>

  <% end %>
  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.job_number') %></div>

    <div class="profile-info-value">
      <span class="editable" id="username"><%= @admin.job_number %></span>
    </div>
  </div>


  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.name') %> </div>

    <div class="profile-info-value">
      <span><%= @admin.name %></span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.permissions') %> </div>

    <div class="profile-info-value">
      <span><%= show_permissions(@admin) %></span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.position') %> </div>

    <div class="profile-info-value">
      <span><%= @admin.position %></span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.age') %> </div>

    <div class="profile-info-value">
      <span><%= @admin.age %></span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.gender') %> </div>

    <div class="profile-info-value">
      <span><%= @admin.gender == 1 ? '男' : (@admin.gender == 2 ? '女' : '') %></span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.email') %> </div>

    <div class="profile-info-value">
      <span><%= @admin.email %></span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.phone') %> </div>

    <div class="profile-info-value">
      <span><%= @admin.phone %></span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.address') %> </div>

    <div class="profile-info-value">
      <span><%= @admin.address %></span>
    </div>
  </div>

</div>
