<div class="container">
  <div class="row">
    <div class="user-center">
      <div class="main-title">
        个人中心
      </div>
      <%= render 'user/menu' %>
      <div class="user-main">
        <div class="sub-content">
          <div class="consults">
            <div class="win-panel">
              <% if @consults.present? %>
                  <% @consults.each do |c| %>
                      <div class="consult">
                        <div class="<%= c.admin_reply ? 'left' : 'right' %>">
                          <span class="time"><%= c.created_at.try(:strftime, '%Y-%m-%d %H:%M:%S') %>&nbsp;<strong><%= c.admin_reply ? '小豆' : current_user.nickname %>
                            ：</strong></span>
                          <br/>

                          <div class="talk"><%= c.content %></div>
                        </div>
                      </div>
                  <% end %>
              <% else %>
                  <div class="consult">
                    <div class="left">
                      <span class="time"><%= Time.now.try(:strftime, '%Y-%m-%d %H:%M:%S') %>&nbsp;<strong>小豆：</strong></span>

                      <div class="talk">
                        欢迎来到调戏小豆！如果你有任何意见或者建议，都可以发送给我！
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
            <hr/>
            <div class="input-panel">
              <%= simple_form_for(@consult, html: {}, url: user_consult_path, method: :post) do |f| %>
                  <div class="input-group">
                    <input type="text" id="consult_content" class="form-control" name="consult[content]" placeholder="请输入想要发送的内容(6-500)">
                      <span class="input-group-btn">
                        <button class="btn btn-info" data-disable-with="发送" type="submit">
                          <i class="icon icon-share-sign"></i>
                        </button>
                      </span>
                  </div>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>


