<div class="container">
  <div class="row">
    <div class="user-center">
      <div class="main-title">
        个人中心
      </div>
      <%= render 'user/menu' %>
      <div class="user-main">
        <div class="sub-content">
          <% if @opus.present? %>

              <div class="row">
                <div class="col-sx-12">
                  <div class="row text-center myopus-list">
                    <% @opus.each do |opus| %>
                        <div class="col-xs-4">
                          <div class="opus-item">
                            <div class="img-wrapper">
                              <%= image_tag(opus.content_url(:middle)) %>
                            </div>

                            <div class="opus-info">
                              <div><%= opus.group_name %></div>
                              <div><%= opus.created_at.strftime("%Y-%m-%d %H:%M") %></div>
                            </div>
                            <div class="like"><i class="icon icon-heart"></i><%= opus.likes_count %></div>
                          </div>
                        </div>
                    <% end %>
                  </div>
                  <nav>
                    <%= paginate @opus %>
                  </nav>
                </div>
              </div>
          <% else %>
              <div class="alert alert-primary">
                您暂无作品
              </div>
          <% end %>

        </div>
      </div>
    </div>
  </div>
</div>
