<style>
  .row:after, .row:before {
    display: table-row;
  }
</style>
<div class="panel panel-info">
  <div class="panel-heading"><%= t('activerecord.models.lesson_test') %></div>
  <div class="panel-body">
    <%= simple_form_for([:admin, @lesson_test]) do |f| %>
        <%= f.error_notification %>
        <% if @lesson_test.errors.any? %>
            <% if @lesson_test.errors[:answer].present? %>
                <div class="alert-danger alert">答案:<%= @lesson_test.errors[:answer].first %></div>
            <% end %>
            <% if @lesson_test.errors[:cover].present? %>
                <div class="alert-danger alert">题目图片:<%= @lesson_test.errors[:cover].first %></div>
            <% end %>
            <% if @lesson_test.errors[:lesson_id].present? %>
                <div class="alert-danger alert">所属课时:<%= @lesson_test.errors[:lesson_id].first %></div>
            <% end %>
        <% end %>

        <div class="form-inputs">
          <div class="row">
            <div class="col-xs-12">
              <div class="row">
                <div class="col-xs-4">
                  <label>所属课程:</label>
                  <select id="select-course-list" class="form-control">
                    <option value="">请选择课程</option>
                    <% Course.select(:id, :name).each do |course| %>
                        <option value="<%= course.id %>"><%= course.name %></option>
                    <% end %>
                  </select>
                </div>
                <div class="col-xs-4">
                  <% if @lessons.present? %>
                      <%= f.input :lesson_id, collection: @lessons %>
                  <% else %>
                      <label>所属课时:</label>
                      <select id="lesson_test_lesson_id" name="lesson_test[lesson_id]" class="form-control">
                        <option value="">请选择课时</option>
                      </select>
                  <% end %>

                </div>
              </div>
            </div>
          </div>
          <br><br><br><br>

          <%= f.input :name, autofocus: true %>
          <% if @lesson_test.cover.present? %>
              <%= image_tag(@lesson_test.cover.first.url(:middle)) %>
          <% end %>
          <div class="form-group">
            <label class="text control-label">
              题目图片:
            </label>
            <%= f.file_field :cover, multiple: true, id: 'check-lesson-test-cover' %>
            <%= f.hidden_field :cover_cache %>
            <p class="help-block">格式：jpg jpeg gif png (图片大小在 1M 以内)</p>
          </div>
          <% [1, 2, 3, 4].each do |option| %>
              <%= f.input "option_#{option}", label: "选项#{option}" %>
          <% end %>
          <label class="control-label"><abbr title="必填字段">*</abbr> 答案(对应选项):</label>
          <div class="well">
            <% [1, 2, 3, 4].each do |n| %>
                <div class="checkbox">
                  <label>
                    <input type="checkbox" name="lesson_test[answer][]" value="<%= n %>" <%= @lesson_test.answer.try(:include?, n.to_s) ? 'checked' : '' %>> <%= n %>
                  </label>
                </div>
            <% end %>
          </div>

        </div>
        <div class="form-actions">
          <%= f.button :submit, class: 'btn btn-primary' %>
        </div>
    <% end %>
  </div>
</div>