<h1 class="page-header">
  <%= t('activerecord.models.lesson_test') %>列表
  <small class="pull-right">
    <a href="<%= new_admin_lesson_test_path %>" class="btn btn-default" title="添加<%= t('activerecord.models.lesson_test') %>">
      <i class="icon-only icon-plus"></i></a>
    <a href="#" class="btn btn-default btn-search-toggle" title="搜索">
      <i class="icon-search icon-only"></i>
    </a>
  </small>
</h1>
<div class="widget-box form-search-toggle <%= params[:field].present? && params[:keyword].present? ? 'show' : 'hide' %>">
  <div class="widget-header widget-header-small">
    <h5 class="lighter">搜索</h5>
  </div>
  <div class="widget-body">
    <div class="widget-main">
      <form class="form" role="form" method="get">
        <div class="input-group" data-search="field">
          <div class="input-group-btn">
            <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
              <span data-search-text class="admin-search-field"><%= t('simple_form.labels.defaults.name') %></span>
              <span class="caret"></span></button>
            <ul class="dropdown-width dropdown-menu">
              <li data-search-option="name"><a><%= t('simple_form.labels.defaults.name') %></a></li>
              <li data-search-option="id"><a>ID</a></li>
            </ul>
          </div>
          <input type="hidden" name="field" value="<%= params[:field].present? ? params[:field] : 'name' %>"/>
          <input placeholder="输入关键字，按回车键提交" value="<%= params[:keyword] %>" name="keyword" type="text" class="form-control" aria-label="...">
        </div>
      </form>
    </div>
  </div>
</div>

<% if @lesson_tests.present? %>

    <div class="row">
      <div class="col-xs-12">
        <% if @lesson_tests.present? %>

            <div class="row">
              <% @lesson_tests.each do |test| %>
                  <div class="col-xs-12 col-sm-6 col-md-4" id="<%= "hide-lesson-test-#{test.id}" %>">

                    <div class="widget-box">
                      <h5><%= test.course_name %>--<%= test.lesson_name %></h5>
                      <div class="widget-header widget-header-small">

                        <h4 class="">
                          <%= test.name[0..12] %>
                        </h4>
                        <div class="widget-toolbar action-buttons">
                          <%= link_to edit_admin_lesson_test_path(test.id), title: '编辑' do %>
                              <i class="icon-edit" title="编辑"></i>
                          <% end %>
                          &nbsp;
                          <%= link_to [:admin, test], method: :delete, data: {confirm: '确认删除吗?', remote: true}, title: '删除', class: 'pink' do %>
                              <i class="icon-trash" title="编辑"></i>
                          <% end %>
                        </div>
                      </div>
                      <div class="widget-body">
                        <div class="widget-main padding-8">
                          <div class="event-team profile-feed">
                            <% [test.option_1, test.option_2, test.option_3, test.option_4].each do |te| %>
                                <div class="profile-activity clearfix" id="<%= "hide-player-#{}" %>">
                                  <div>
                                    <% if te == test["option_#{test.answer}"] %>
                                        <icon class="icon-ok"></icon>
                                    <% end %>
                                    <%= te %>
                                  </div>
                                </div>
                            <% end %>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
              <% end %>
            </div>
            <nav>
              <%= paginate @lesson_tests %>
            </nav>
        <% end %>

      </div>
    </div>


<% else %>
    <div class="alert alert-info">暂无课时测验</div>

<% end %>