<h1 class="page-header">
  显示<%= t('activerecord.models.lesson_test') %>
  <small class="pull-right">
    <a href="<%= new_admin_lesson_test_path %>" title="新增<%= t('activerecord.models.lesson_test') %>" class="btn btn-default">
      <i class="icon-plus icon-only"></i></a>
    <a href="<%= edit_admin_lesson_test_path(@lesson_test) %>" title="编辑该<%= t('activerecord.models.lesson_test') %>" class="btn btn-default">
      <i class="icon-edit icon-only"></i></a>
    <a href="<%= admin_lesson_tests_path %>" title="列表<%= t('activerecord.models.lesson_test') %>" class="btn btn-default">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>

<% if notice %>
    <div class="alert alert-success"><%= notice %>
      <button class="close" data-dismiss="alert">
        <i class="icon-remove"></i>
      </button>
    </div>
<% end %>
<div class="panel panel-info">
  <div class="panel-heading">
    <%= t('activerecord.models.lesson_test') %>
  </div>
  <ul class="list-group">
    <li class="list-group-item">
      <h4><%= t('simple_form.labels.defaults.name') %>:</h4>
      <%= @lesson_test.name %>
    </li>
  </ul>
</div>