<h1 class="page-header">
  编辑<%= t('activerecord.models.group') %>
  <small class="pull-right">
    <a href="<%= admin_group_path(@group) %>" title="显示该<%= t('activerecord.models.group') %>" class="btn btn-default">
      <i class="icon-eye-open icon-only"></i></a>
    <a href="<%= admin_groups_path %>" title="<%= t('activerecord.models.group') %>列表" class="btn btn-default">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>

<%= render 'form' %>
