<h1 class="page-header">
  <%= t('activerecord.models.group') %>列表
  <small class="pull-right">
    <a href="<%= new_admin_group_path %>" class="btn btn-default" title="添加<%= t('activerecord.models.group') %>">
      <i class="icon-only icon-plus"></i></a>
    <a href="#" class="btn btn-default btn-search-toggle" title="搜索">
      <i class="icon-search icon-only"></i>
    </a>
  </small>
</h1>
<div class="widget-box form-search-toggle <%= params[:field].present? && params[:keyword].present? ? 'show' : 'hide' %>">
  <div class="widget-header widget-header-small">
    <h5 class="lighter">搜索</h5>
  </div>
  <div class="widget-body">
    <div class="widget-main">
      <form class="form" role="form" method="get">
        <div class="input-group" data-search="field">
          <div class="input-group-btn">
            <button type="button" class="btn btn-white dropdown-toggle" data-toggle="dropdown" aria-haspopup="true">
              <span data-search-text class="admin-search-field"><%= t('simple_form.labels.defaults.name') %></span>
              <span class="caret"></span></button>
            <ul class="dropdown-width dropdown-menu">
              <li data-search-option="name"><a><%= t('simple_form.labels.defaults.name') %></a></li>
              <li data-search-option="status"><a>状态(0/1/2)</a></li>
              <li data-search-option="id"><a>ID</a></li>
            </ul>
          </div>
          <input type="hidden" name="field" value="<%= params[:field].present? ? params[:field] : 'name' %>"/>
          <input placeholder="输入关键字，按回车键提交" value="<%= params[:keyword] %>" name="keyword" type="text" class="form-control" aria-label="...">
        </div>
      </form>
    </div>
  </div>
</div>

<table class="table table-bordered table-hover table-striped">
  <thead>
  <tr>
    <th>ID</th>
    <th><%= t('simple_form.labels.defaults.name') %></th>
    <th>教师</th>
    <th>状态</th>
    <th>开课时间</th>
    <th>操作</th>
  </tr>
  </thead>

  <tbody>
  <% @groups.each do |c| %>
      <tr>
        <td><%= c.id %></td>
        <td><%= c.name %></td>
        <th><%= c.teacher_name %></th>
        <td><%= t('status.status'+c.status.to_s) %></td>
        <td><%= c.start_date %><%= " -- #{c.end_date}" if c.start_date != c.end_date %></td>
        <td>
          <%= link_to "/admin/groups/lesson_test_result?id=#{c.id}", title: '查看课件正确率', class: 'btn btn-xs btn-warning' do %>
              <i class="icon-eye-open bigger-120"></i>
          <% end %>
          <%= link_to "/admin/groups/add_schedule?id=#{c.id}", title: '添加课程表', class: 'btn btn-xs btn-primary' do %>
              <i class="icon-plus bigger-120"></i>
          <% end %>
          <%= link_to "/admin/groups/students?id=#{c.id}", title: '学生列表', class: 'btn btn-xs btn-info' do %>
              <i class="icon-group bigger-120"></i>
          <% end %>
          <%= link_to [:admin, c], title: '查看', class: 'btn btn-xs btn-warn' do %>
              <i class="icon-eye-open bigger-120"></i>
          <% end %>
          <%= link_to edit_admin_group_path(c), title: '编辑', class: 'btn btn-xs btn-info' do %>
              <i class="icon-edit bigger-120"></i>
          <% end %>
          <% if c.start_date > Date.today %>
              <%= link_to [:admin, c], method: :delete, data: {confirm: '确认删除吗?'}, title: '删除', class: 'btn btn-xs btn-danger' do %>
                  <i class="icon-trash bigger-120"></i>
              <% end %>
          <% end %>
        </td>
      </tr>
  <% end %>
  </tbody>
</table>

<nav>
  <%= paginate @groups %>
</nav>
