<h1 class="page-header">
  显示<%= t('activerecord.models.group') %>
  <small class="pull-right">
    <a href="<%= new_admin_group_path %>" title="新建<%= t('activerecord.models.group') %>" class="btn btn-default">
      <i class="icon-plus icon-only"></i></a>
    <a href="<%= edit_admin_group_path(@group) %>" title="编辑<%= t('activerecord.models.group') %>" class="btn btn-default">
      <i class="icon-edit icon-only"></i></a>
    <a href="<%= admin_groups_path %>" title="列表" class="btn btn-default">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>

<% if notice %>
    <div class="alert alert-success"><%= notice %>
      <button class="close" data-dismiss="alert">
        <i class="icon-remove"></i>
      </button>
    </div>
<% end %>


<div class="profile-user-info profile-user-info-striped">

  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.name') %> </div>

    <div class="profile-info-value">
      <span><%= @group.name %></span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name">课程:</div>

    <div class="profile-info-value">

      <ul class="chosen-choices">
        <% @has_courses.each do |k, v| %>
            <li id="<%= "delete-hide-#{k}" %>" class="search-choice">
              <span><%= v %></span>
              <a class="search-choice-close" onclick="delete_group_course(<%= k %>,<%= @group.id %>)"></a>
            </li>
        <% end %>
        &nbsp;&nbsp;&nbsp;
        <li style="display: inline-block;">
          <% if Date.today < @group.end_date %>
            <span class="action-buttons">
              <a class="blue" data-toggle="modal" role="button" href="#show-add-group-course"> <i class="icon-plus"></i> </a>
            </span>
          <% end %>
        </li>
      </ul>


    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name">状态</div>

    <div class="profile-info-value">
      <span><%= t('status.status'+@group.status.to_s) %></span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name">教师</div>

    <div class="profile-info-value">
      <span><%= @group.teacher.name %></span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name">上课地点</div>

    <div class="profile-info-value">
      <span><%= @group.class_address %></span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name">上课时间</div>

    <div class="profile-info-value">
      <span><%= @group.start_date %><%= "---#{@group.end_date}" if @group.end_date != @group.start_date %></span>
    </div>
  </div>

  <% if @group.wx_code.present? %>
      <div class="profile-info-row">
        <div class="profile-info-name">微信班级群</div>
        <div class="show-row-margin">
          <span><%= image_tag(@group.wx_code_url(:middle)) %></span>
        </div>
      </div>
  <% end %>

</div>

<% if Date.today < @group.end_date %>
    <div id="show-add-group-course" class="modal" tabindex="-1">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal">&times;</button>
            <h4 class="blue bigger">请选择课程</h4>
          </div>

          <div class="modal-body overflow-visible">
            <div class="row">

              <div class="col-xs-12 col-sm-7">
                <div class="form-group">
                  <!--<label for="form-field-select-3">课程</label>-->

                  <div>
                    <select multiple="" id="selected-course-ids" class="chosen-select tag-input-style" data-placeholder="请选择课程...">

                      <% @courses.each do |c| %>
                          <option value="<%= c.id %>"><%= c.name %></option>
                      <% end %>

                    </select>
                  </div>
                </div>

              </div>
            </div>
          </div>

          <div class="modal-footer">
            <button class="btn btn-sm" data-dismiss="modal">
              <i class="icon-remove"></i>
              取消
            </button>

            <button class="btn btn-sm btn-primary group-add-course-submit" data-course="<%= @group.id %>">
              <i class="icon-ok"></i>
              提交
            </button>
          </div>
        </div>
      </div>
    </div>

<% end %>
