<h1 class="page-header">
  <%= @group.name %>--学生列表

</h1>
<% if @users.present? %>
    <table class="table table-bordered table-hover table-striped">
      <thead>
      <tr>
        <th>姓名</th>
        <th>学籍号</th>
        <th>手机</th>
        <th>邮箱</th>
      </tr>
      </thead>
      <tbody>

      <% @users.each do |u| %>
          <tr>
            <td><%= u.fullname %></td>
            <td>
              <%= u.student_code %>
            <td>
              <%= u.mobile %>
            </td>
            <td>
              <%= u.email %>
            </td>
          </tr>
      <% end %>
      </tbody>
    </table>
    <nav>
      <%= paginate @users %>
    </nav>
<% else %>
    <div class="alert alert-success">暂无学生报名</div>
<% end %>