<h1 class="page-header">
  显示<%= t('activerecord.models.user') %>
  <small class="pull-right">
    <a href="<%= edit_admin_user_path(@user) %>" title="编辑" class="btn btn-default">
      <i class="icon-edit icon-only"></i></a>
    <a href="<%= admin_users_path %>" title="列表" class="btn btn-default">
      <i class="icon-list icon-only"></i></a>
  </small>
</h1>

<% if notice %>
    <div class="alert alert-success"><%= notice %>
      <button class="close" data-dismiss="alert">
        <i class="icon-remove"></i>
      </button>
    </div>
<% end %>


<div class="profile-user-info profile-user-info-striped">
  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.nickname') %></div>

    <div class="profile-info-value">
      <span class="editable" id="username"><%= @user.nickname %></span>
    </div>
  </div>


  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.mobile') %> </div>

    <div class="profile-info-value">
      <span><%= @user.mobile %></span>
    </div>
  </div>


  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.email') %> </div>

    <div class="profile-info-value">
      <span><%= @user.email %></span>
    </div>
  </div>

  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.fullname') %> </div>

    <div class="profile-info-value">
      <span><%= @user.fullname %></span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.gender') %> </div>

    <div class="profile-info-value">
      <span>
        <% case @user.gender %>
        <% when 1 %>
            男
        <% when 2 %>
            女
        <% else %>
        <% end %>
      </span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.birthday') %> </div>

    <div class="profile-info-value">
      <span><%= @user.birthday %></span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.student_code') %> </div>

    <div class="profile-info-value">
      <span><%= @user.student_code %></span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.grade') %> </div>

    <div class="profile-info-value">
      <span><%= @user.grade %></span>
    </div>
  </div>
  <div class="profile-info-row">
    <div class="profile-info-name"> <%= t('simple_form.labels.defaults.bj') %> </div>

    <div class="profile-info-value">
      <span><%= @user.bj %></span>
    </div>
  </div>
</div>
