<!DOCTYPE html>
<html>
<head>
  <title>豆姆社群 － 管理后台</title>
  <%= csrf_meta_tags %>
  <link rel="icon" href="<%= asset_path('favicon.png') %>"/>
  <%= stylesheet_link_tag 'admin', media: 'all', 'data-turbolinks-track' => 'reload' %>
</head>
<body>
<% if notice.present? %>
    <div id="notice"><%= notice %></div>
<% end %>
<% if alert.present? %>
    <div id="alert"><%= alert %></div>
<% end %>
<div class="navbar navbar-default" id="navbar">
  <div class="navbar-container" id="navbar-container">
    <div class="navbar-header pull-left">
      <a href="/admin" class="navbar-brand">
        <small><i class="icon-leaf"></i> 豆姆社群 管理后台</small>
      </a>
    </div>
    <div class="navbar-header pull-right" role="navigation">
      <ul class="nav ace-nav">
        <li class="grey">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="icon-tasks"></i>
            <span class="badge badge-grey">0</span>
          </a>
        </li>
        <li class="purple">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="icon-bell-alt icon-animated-bell"></i>
            <span class="badge badge-important">0</span>
          </a>
          <!--<ul class="pull-right dropdown-navbar navbar-pink dropdown-menu dropdown-caret dropdown-close">-->
          <!--<li class="dropdown-header">-->
          <!--<i class="icon-warning-sign"></i>-->
          <!--共有 0 个身份待审核-->
          <!--</li>-->

          <!--<li>-->
          <!--<a href="/admin/checks/teachers">-->
          <!--<div class="clearfix">-->
          <!--<span class="pull-left">-->
          <!--老师-->
          <!--</span>-->
          <!--<span class="pull-right badge badge-info">+0</span>-->
          <!--</div>-->
          <!--</a>-->
          <!--</li>-->

          <!--<li>-->
          <!--<a href="/admin/checks/referees">-->
          <!--<div class="clearfix">-->
          <!--<span class="pull-left">-->
          <!--裁判-->
          <!--</span>-->
          <!--<span class="pull-right badge badge-success">+0</span>-->
          <!--</div>-->
          <!--</a>-->
          <!--</li>-->

          <!--<li>-->
          <!--<a href="#">-->
          <!--暂不审核-->
          <!--<i class="icon-arrow-right"></i>-->
          <!--</a>-->
          <!--</li>-->
          <!--</ul>-->

        </li>

        <li class="green">
          <a data-toggle="dropdown" class="dropdown-toggle" href="#">
            <i class="icon-envelope icon-animated-vertical"></i>
            <span class="badge badge-success">0</span>
          </a>
        </li>
        <li class="light-blue">
          <a data-toggle="dropdown" href="#" class="dropdown-toggle" style="min-width: 112px">
            <span class="user-info">
                <small>欢迎登录</small>
              <%= @current_admin.job_number %><%= " - #{ @current_admin.name }" if @current_admin.name.present? %>
            </span>
            <i class="icon-caret-down"></i>
          </a>
          <ul class="dropdown-admin-layout user-menu pull-right dropdown-menu dropdown-yellow dropdown-caret dropdown-close" style="min-width: 114px;right: -1px">
            <li>
              <a href="<%= change_password_admin_accounts_path %>">
                <i class="icon-cog"></i>
                修改密码
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <a href="#">
                <i class="icon-user"></i>
                个人信息
              </a>
            </li>
            <li class="divider"></li>
            <li>
              <%= link_to admin_account_path(@current_admin), method: :delete, data: {confirm: '确认退出吗？'}, title: '退出登录', class: '' do %>
                  <i class="icon-off"></i>
                  退出登录
              <% end %>
            </li>
          </ul>
        </li>
      </ul>
    </div>
  </div>
</div>
<div class="main-container" id="main-container">
  <div class="main-container-inner">
    <a class="menu-toggler" id="menu-toggler" href="#">
      <span class="menu-text"></span>
    </a>

    <div class="sidebar" id="sidebar">
      <script type="text/javascript">
        try {
          ace.settings.check('sidebar', 'fixed')
        } catch (e) {
        }
      </script>
      <div class="sidebar-shortcuts" id="sidebar-shortcuts">
        <div class="sidebar-shortcuts-large" id="sidebar-shortcuts-large">
          <button class="btn btn-success">
            <i class="icon-signal"></i>
          </button>

          <button class="btn btn-info">
            <i class="icon-pencil"></i>
          </button>

          <button class="btn btn-warning">
            <i class="icon-group"></i>
          </button>

          <button class="btn btn-danger">
            <i class="icon-cogs"></i>
          </button>
        </div>

        <div class="sidebar-shortcuts-mini" id="sidebar-shortcuts-mini">
          <span class="btn btn-success"></span>

          <span class="btn btn-info"></span>

          <span class="btn btn-warning"></span>

          <span class="btn btn-danger"></span>
        </div>
      </div>
      <!-- #sidebar-shortcuts -->
      <ul class="nav nav-list">
        <% if authenticate_permissions_show(['admin']) %>
            <li class="<%= params[:controller] == 'admin/admins' ? 'active' : '' %>">
              <a href="<%= admin_admins_path %>">
                <i class="icon-gear"></i>
                <span class="menu-text"> 管理员 </span>
              </a>
            </li>
            <li class="<%= params[:controller] == 'admin/roles' ? 'active' : '' %>">
              <a href="<%= admin_roles_path %>">
                <i class="icon-leaf"></i>
                <span class="menu-text"> 角色 </span>
              </a>
            </li>
            <li class="<%= params[:controller] == 'admin/districts' ? 'active' : '' %>">
              <a href="<%= admin_districts_path %>">
                <i class="icon-globe"></i>
                <span class="menu-text"> 区县 </span>
              </a>
            </li>
            <li class="<%= params[:controller] == 'admin/schools' ? 'active' : '' %>">
              <a href="<%= admin_schools_path %>">
                <i class="icon-reorder"></i>
                <span class="menu-text"> 学校 </span>
              </a>
            </li>
            <li class="<%= params[:controller] == 'admin/groups' ? 'active' : '' %>">
              <a href="<%= admin_groups_path %>">
                <i class="icon-group"></i>
                <span class="menu-text"> 班级 </span>
              </a>
            </li>
            <li class="<%= params[:controller] == 'admin/courses' ? 'active' : '' %>">
              <a href="<%= admin_courses_path %>">
                <i class="icon-book"></i>
                <span class="menu-text"> 课程 </span>
              </a>
            </li>
            <li class="<%= params[:controller] == 'admin/lessons' ? 'active' : '' %>">
              <a href="<%= admin_lessons_path %>">
                <i class="icon-bookmark"></i>
                <span class="menu-text"> 课时 </span>
              </a>
            </li>
            <li class="<%= params[:controller] == 'admin/lesson_tests' ? 'active' : '' %>">
              <a href="<%= admin_lesson_tests_path %>">
                <i class="icon-level-up"></i>
                <span class="menu-text"> 课时测验 </span>
              </a>
            </li>
            <li class="<%= params[:controller] == 'admin/news' ? 'active' : '' %>">
              <a href="<%= admin_news_index_path %>">
                <i class="icon-comment-alt"></i>
                <span class="menu-text"> 新闻 </span>
              </a>
            </li>
            <li class="<%= params[:controller] == 'admin/consults' ? 'active' : '' %>">
              <a href="<%= admin_consults_path %>">
                <i class="icon-comments"></i>
                <span class="menu-text"> 用户反馈 </span>
              </a>
            </li>

        <% end %>
      </ul>
      <!-- /.nav-list -->
      <div class="sidebar-collapse" id="sidebar-collapse">
        <i class="icon-double-angle-left" data-icon1="icon-double-angle-left" data-icon2="icon-double-angle-right"></i>
      </div>
      <script type="text/javascript">
        try {
          ace.settings.check('sidebar', 'collapsed')
        } catch (e) {
        }
      </script>
    </div>
    <div class="main-content">
      <div class="breadcrumbs" id="breadcrumbs">
        <ul class="breadcrumb">
          <li>
            <i class="icon-home home-icon"></i>
            <a href="/admin">首页</a>
          </li>
        </ul>
        <!-- .breadcrumb -->
      </div>
      <div class="page-content">
        <%= yield %>
      </div>
    </div>
  </div>
  <a href="#" id="btn-scroll-up" class="btn-scroll-up btn btn-sm btn-inverse" title="回到顶部">
    <i class="icon-double-angle-up icon-only bigger-110"></i>
  </a>
</div>
<%= javascript_include_tag 'admin', 'data-turbolinks-track' => true %>
</body>
</html>
