<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <link rel="icon" href="<%= asset_path('favicon.png') %>"/>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= csrf_meta_tags %>
  <%= action_cable_meta_tag %>

  <%= stylesheet_link_tag 'application', media: 'all' %>

</head>
<body>
<div id="top" class="top container-fluid">
  <div class="container">
    <div class="left-menu">
      主站
      <span class="caret"></span>
      <ul class="hover-menu">
        <li>
          <a href="http://www.domelab.com">Domelab</a>
        </li>
        <li>
          <a href="http://www.robodou.cn">Robodou</a>
        </li>
      </ul>
    </div>
    <div class="right-menu">
      <ul class="horizontal-ul">
        <li>
          <a href="https://intro.domelab.com/">关于我们</a>
        </li>
        <li>
          <a href="">CN</a>
        </li>
        <% if user_signed_in? %>
            <li class="has-menu">
              <a href="<%= user_profile_path %>"><%= current_user.nickname %></a>
              <span class="caret"></span>
              <ul class="hover-menu">
                <li>
                  <a href="<%= user_profile_path %>">个人中心</a>
                </li>
              </ul>
            </li>
            <li>
              <%= link_to '退出', sign_out_path,id:"logout", method: :delete, data: {confirm: '确认退出登录吗?'} %>
            </li>

        <% else %>
            <li>
              <a class="sign_in_link" href="<%= sign_in_path %>">登录</a>
            </li>
            <li>
              <a class="sign_up_link" href="<%= sign_up_path %>">注册</a>
            </li>
        <% end %>
      </ul>
    </div>
  </div>
</div>
<div id="nav" class="nav container-fluid">
  <div class="container">
    <div class="logo">
      <a href="/">
        <img src="<%= image_path('layout/logo-orange.png') %>" alt="DOME"/>
      </a>
    </div>
    <div class="nav-menu">
      <ul class="horizontal-ul">
        <li>
          <a href="">科普知识</a>
        </li>
        <li>
          <a href="<%= news_path %>">机器人新闻</a>
        </li>
        <li class="dropdown">
          <a href="#" class="dropbtn">豆姆教室<span class="arrow">&#9660;</span></a>
          <div class="dropdown-content">
            <a href="/courses/dome">豆姆课例</a>
            <a href="<%= courses_path %>">名师课例</a>
          </div>
        </li>
        <li>
          <a href="">比赛分享</a>
        </li>
        <li>
          <a href="">专栏</a>
        </li>
        <li>
          <a href="<%= commonweal_path %>">豆姆公益</a>
        </li>
      </ul>
    </div>
  </div>
</div>
<div id="yield">
  <%= yield %>
</div>
<div id="footer">
  <div class="container">
    <div class="title">
      我们是谁？
    </div>
    <div class="left">
      <div class="con">
        dome机器人学习器材是一个包含金属积木、子模块、软件工具等几百种零件的工程积木平台。dome机器人学习器材是一个包含金属....................................
      </div>
      <div class="link">
        <a href="">（查看详情）</a>
      </div>
    </div>
    <div class="middle">
      <p>联系方式</p>

      <p>电话：021-31653316</p>

      <p>邮箱：service@robodou.cn</p>

      <p>地址：上海市钦州北路68号B3栋101室</p>
    </div>
    <div class="right">
      <div class="QR">
        <img src="<%= image_path('layout/QRcode.png') %>" alt=""/>
      </div>
      <div class="QR">
        <img src="<%= image_path('layout/QRcode.png') %>" alt=""/>
      </div>
    </div>
  </div>
</div>
<%= javascript_include_tag 'application' %>
<% if flash.present? %>
    <script type="text/javascript">
      <% flash.each do |f| %>
      $.notify("<%= f[1] %>", "<%= f[0] %>");
      <% end %>
    </script>
<% end %>
<div class="loading hidden"></div>
</body>
</html>
