<!DOCTYPE html>
<html>
<head>
  <%= render_page_title %>
  <%= csrf_meta_tags %>
  <link rel="icon" href="<%= asset_path('favicon.png') %>"/>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<%= yield %>
</body>
</html>
